doctype html
html(lang="pt_BR")
  head
    title 
      block title
      |  - Ludica.TV
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=10")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=1024, user-scalable=yes")
    meta(name="robots", content="all,follow")
    block styles
      link(rel="stylesheet", href="css/flatly/bootstrap.min.css")
      link(rel="stylesheet", href="css/default.css")
    block scripts
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
      script(src="js/lib/holderjs/holder.js")
      script(src="js/default.js")
    link(rel="shortcut favicon", href="favicon.ico")
  body
    div.container-fluid
      div.row
        div.col-md-12
          //- div.img-header
          //-   img.img-responsive(alt="Ludica.TV",src="img/ludica-light.jpg")
          div#header.page-header
            h1 Ludica.TV
              small Seu canal online sobre jogos de mesa

      div.row
        div.col-md-8.col-xs-12
          div#content
            block content

        div.col-md-4.col-xs-12
          include sidebar.jade
