doctype html
html
  head
    title 
      block title
      |  - Ludica.TV
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=10")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=1024, user-scalable=yes")
    meta(name="robots", content="all,follow")
    block styles
      link(rel="stylesheet", href="css/default.css")
    block scripts
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
      script(src="js/default.js")
    link(rel="shortcut favicon", href="favicon.ico")
  body
    block body
