extend _layout

block title
  | Página inicial
  
block content
  div.row
    div.col-md-12
      h2 Assista agora

      div.thumbnail
        img(data-src="js/holderjs/holder.js/100%x400")
        div.caption
          h3 Botequim dos jogos
          p Lorem ipsum dolor sit amet...
        
  div.row
    div.col-md-12
      h3 Ainda esta semana

    div.col-md-6.col-sm-12
      div.thumbnail
        img(data-src="js/holderjs/holder.js/100%x240")
        div.caption
          h3 Botequim dos jogos
          p Lorem ipsum dolor sit amet...

    // loop da agenda      
    div.col-md-6.col-sm-12
      div.thumbnail
        img(data-src="js/holderjs/holder.js/100%x240")
        div.caption
          h3 Botequim dos jogos
          p Lorem ipsum dolor sit amet...
