div#sidebar
  h3 Últimos programas
  
  div.row
    div.col-lg-6.col-md-12.col-xs-3
      div.thumbnail
        img(data-src="js/holderjs/holder.js/100%x120")
        div.caption
          h3 Botequim dos jogos
          p Lorem ipsum dolor sit amet...

    //loop aqui
    div.col-lg-6.col-md-12.col-xs-3
      div.thumbnail
        img(data-src="js/holderjs/holder.js/100%x120")
        div.caption
          h3 Botequim dos jogos
          p Lorem ipsum dolor sit amet...

    div.col-lg-6.col-md-12.col-xs-3
      div.thumbnail
        img(data-src="js/holderjs/holder.js/100%x120")
        div.caption
          h3 Botequim dos jogos
          p Lorem ipsum dolor sit amet...

    div.col-lg-6.col-md-12.col-xs-3
      div.thumbnail
        img(data-src="js/holderjs/holder.js/100%x120")
        div.caption
          h3 Botequim dos jogos
          p Lorem ipsum dolor sit amet...

    div.col-lg-6.col-md-12.col-xs-3
      div.thumbnail
        img(data-src="js/holderjs/holder.js/100%x120")
        div.caption
          h3 Botequim dos jogos
          p Lorem ipsum dolor sit amet...

    div.col-lg-6.col-md-12.col-xs-3
      div.thumbnail
        img(data-src="js/holderjs/holder.js/100%x120")
        div.caption
          h3 Botequim dos jogos
          p Lorem ipsum dolor sit amet...

    div.col-lg-6.col-md-12.col-xs-3
      div.thumbnail
        img(data-src="js/holderjs/holder.js/100%x120")
        div.caption
          h3 Botequim dos jogos
          p Lorem ipsum dolor sit amet...

    div.col-lg-6.col-md-12.col-xs-3
      div.thumbnail
        img(data-src="js/holderjs/holder.js/100%x120")
        div.caption
          h3 Botequim dos jogos
          p Lorem ipsum dolor sit amet...

